@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Josefin+Slab:wght@700&family=Kufam:wght@400;500;600;700;800;900&family=Laila:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Laila', sans-serif;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-btn-primary:not(:disabled):hover {
  background-color: #b38668;
}





